<div>
    <!--顶部公共部分-->
    <div id="common">
        <nav class="navbar navbar-default" role="navigation" style="border-radius: 0">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="javascript:;bs-example-navbar-collapse-9">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="javascript:;"><span class="glyphicon glyphicon-list" style="margin-right:20px;"></span>图书管理系统</a>
                <a class="navbar-brand pull-right" href="http://115.28.25.198/book/admin/login/exitlogin">退出</a>
            </div>
        </nav>
        <!--左部公共部分-->
        <div class="left">
            <ul class="nav" id="side-menu">
                <li class="one" onclick="">
                    <a href="javascript:;">
                        <i class="glyphicon glyphicon glyphicon-th-list"></i>
                        菜单列表
                    </a>
                </li >
                <li class="separator"></li>
                <li class="one" onclick="">
                    <a href="#/user">
                        <i class="glyphicon glyphicon-user"></i>
                        用户信息<!--<span class="glyphicon glyphicon-chevron-right pull-right"></span>-->
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/admin">管理员</a>
                        </li>
                        <li>
                            <a href="#/superadmin">超级管理员</a>
                        </li>
                    </ul>
                </li >
                <li class="separator"></li>
                <li class="one">
                    <a href="#/bookmanage"><i class="glyphicon glyphicon-picture"></i>图书管理<!--<span class="glyphicon glyphicon-chevron-right pull-right"></span>--></a>
                    <!-- /.nav-second-level -->
                </li>
                <li class="separator"></li>
                <li class="one">
                    <a href="#/booklist"><i class="glyphicon glyphicon-list"></i>分类管理<!--<span class="glyphicon glyphicon-chevron-right pull-right"></span>--></a>
                </li>
                <li class="separator"></li>
                <li class="one">
                    <a href="#/bangdan"><i class="glyphicon glyphicon-floppy-open"></i>榜单管理<!--<span class="glyphicon glyphicon-chevron-right pull-right"></span>--></a>
                    <!-- /.nav-second-level -->
                </li>

            </ul>
        </div>
    </div>
</div>




