<!doctype html>
<html lang="en" ng-app="book">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理系统</title>
    <!--css文件-->
    <link rel="stylesheet" href="__ROOT__/Admin3/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ROOT__/Admin3/css/bootstrap-theme.min.css">
    <!--jquery js文件-->
    <script src="__ROOT__/Admin3/js/jquery.js"></script>
    <!--bootstrap js文件-->
    <script src="__ROOT__/Admin3/js/bootstrap.min.js"></script>
    <!--angular js文件-->
    <script src="__ROOT__/Admin3/js/angular.js"></script>
    <script src="__ROOT__/Admin3/js/angular-route.js"></script>  
</head>

<body ng-controller="main">
    <ng-view></ng-view>
</body>
<!--页面js文件-->
<script src="__ROOT__/Admin3/book.js"></script>
<!--路由配置文件-->
<script src="__ROOT__/Admin3/config.js"></script>
<!--login引入文件-->
<link rel="stylesheet" href="__ROOT__/Admin3/pages/login/login.css">
<script src="__ROOT__/Admin3/pages/login/login.js"></script>
<!--home引入文件-->
<link rel="stylesheet" href="__ROOT__/Admin3/pages/home/home.css">
<script src="__ROOT__/Admin3/pages/home/home.js"></script>
<!--用户信息部分-->
<link rel="stylesheet" href="__ROOT__/Admin3/pages/user/user.css">
<script src="__ROOT__/Admin3/pages/user/user.js"></script>
<!--图书管理部分-->
<link rel="stylesheet" href="__ROOT__/Admin3/pages/bookmanage/bookmanage.css">
<script src="__ROOT__/Admin3/pages/bookmanage/bookmanage.js"></script>
<!--分类管理部分-->
<link rel="stylesheet" href="__ROOT__/Admin3/pages/booklist/booklist.css">
<script src="__ROOT__/Admin3/pages/booklist/booklist.js"></script>
<!--榜单部分-->
<link rel="stylesheet" href="__ROOT__/Admin3/pages/bangdan/bangdan.css">
<script src="__ROOT__/Admin3/pages/bangdan/bangdan.js"></script>
<!--组件部分-->
<link rel="stylesheet" href="__ROOT__/Admin3/components/common.css">
<script src="__ROOT__/Admin3/components/common.js"></script>
<!--APIjs部分-->
<script src="__ROOT__/Admin3/API/api.js"></script>
</html>

