@import 'base';
*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
  //color:#fff;
}
#sy-35{
    @include wh(100%,auto);
    
    #header2{
        width:100%;
        height:0.88rem;
        background:#29a6dc;
        overflow: hidden;
        .circle,.circle2{
            width: 0.4rem;
            height: 0.4rem;
            background: #fff;
            border:0.02rem solid #0d76c3;
            border-radius:50%;
            position: absolute;
            top:0.28rem;
            left:0.23rem;
            .icon{
                line-height: 0.35rem;
                text-align: center;
                font-size:0.2rem;
                color:#3daedf;
                
            }
            a{
                color: #3daedf;
            }
        }
        .sqgl{
                width: 2rem;
                height: 0.65rem;
                margin: 0 auto;
                color: #fff;
                margin-top: 0.1rem;
                span:nth-of-type(1){
                    display: block;
                    font-size: 16px;
                    text-align: center;
                }
                span:nth-of-type(2){
                    display: block;
                    font-size: 12px;
                    text-align: center;
                }
            }
    }
    
    
    .shuqian {
        width: 7.5rem;
        margin-top: 0.6rem;
        margin: 0 auto;
        .shuq{
            width: 100%;
            li{
                width: 100%;
                height: 1.4rem;
                margin-top: 0.1rem;
                border-bottom: 1px dashed #151C2B;
                .shuq-t{
                    width: 0.8rem;
                    height: 0.8rem;
                    margin-top: 0.2rem;
                    margin-left: 0.2rem;
                    float: left;
                    background-image: url('/dushu/home/images/bookpage/shuqian.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 50%;
                }
                p:nth-of-type(1){
                    width: 5.1rem;
                    float: left;
                    font-size: 14px;
                    margin-left: 0.3rem;
                    margin-top: 0.2rem;
                }
                p:nth-of-type(2){
                    width: 5.1rem;
                    float: left;
                    font-size: 12px;
                    margin-left: 0.3rem;
                }
                .shijian{
                    width: 2rem;
                    float: left;
                    margin-left: 0.2rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.4rem;
                        height: 0.4rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/riqi.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
                .yan{
                    width: 1.5rem;
                    float: right;
                    margin-left: 1.2rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.42rem;
                        height: 0.42rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/yan.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
            }
            .shuqs{
                width: 100%;
                height: 1.4rem;
                margin-top: -1px;
                border-bottom: 2px solid #28DD8B;
                border-top: 2px solid #28DD8B;
                .xs{
                    display: none;
                }
                .shq-s{
                    width: 6.6rem;
                    height: 1.3rem;
                    float: left;
                    background-image: url('../../images/bookpage/sq-bj.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .sc{
                    width: 0.8rem;
                    height: 100%;
                    float: right;
                    margin-right: 0.1rem;
                    span{
                        display: block;
                        width: 0.4rem;
                        height: 0.4rem;
                        border: 1px solid #28DD8B;
                        color: #28DD8B;
                        font-size: 16px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 0.3rem;
                        margin-top: 0.5rem;
                    }
                }
                p:nth-of-type(1){
                    width: 5.1rem;
                    float: left;
                    font-size: 14px;
                    margin-left: 0.3rem;
                    margin-top: 0.2rem;
                }
                p:nth-of-type(2){
                    width: 5.1rem;
                    float: left;
                    font-size: 12px;
                    margin-left: 0.3rem;
                }
                .shijian{
                    width: 2rem;
                    float: left;
                    margin-left: 0.2rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.4rem;
                        height: 0.4rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/riqis.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
                .yan{
                    width: 1.5rem;
                    float: right;
                    margin-left: 1.2rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.42rem;
                        height: 0.42rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/yans.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
            }
        }
    }
}
#sy-36{
    @include wh(100%,auto);
    #header2{
        width:100%;
        height:0.88rem;
        background:#29a6dc;
        overflow: hidden;
        .circle,.circle2{
            width: 0.4rem;
            height: 0.4rem;
            background: #fff;
            border:0.02rem solid #0d76c3;
            border-radius:50%;
            position: absolute;
            top:0.28rem;
            left:0.23rem;
            .icon{
                line-height: 0.35rem;
                text-align: center;
                font-size:0.2rem;
                color:#3daedf;
                
            }
            a{
                color: #3daedf;
            }
        }
        .sqgl{
                width: 2rem;
                height: 0.65rem;
                margin: 0 auto;
                color: #fff;
                margin-top: 0.1rem;
                span:nth-of-type(1){
                    display: block;
                    font-size: 16px;
                    text-align: center;
                }
                span:nth-of-type(2){
                    display: block;
                    font-size: 12px;
                    text-align: center;
                }
            }
    }
    .bj-shu{
        width: 100%;
        height: 0.5rem;
        background: #e5e5e5;
        color: #a8a8a8;
        text-align: center;
        line-height: 0.5rem;
    }
    .biji {
        width: 100%;
        margin-top: 0.6rem;
        margin: 0 auto;
        .bij{
            width: 100%;
            li{
                width: 100%;
                height: 2.3rem;
                margin-top: 0.1rem;
                border-bottom: 1px dashed #151C2B;
                .shuq-t{
                    width: 0.8rem;
                    height: 0.8rem;
                    margin-top: 0.2rem;
                    margin-left: 0.2rem;
                    float: left;
                    background-image: url('/dushu/home/images/bookpage/biji.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 50%;
                }
                p:nth-of-type(1){
                    width: 5.1rem;
                    float: left;
                    font-size: 14px;
                    margin-left: 0.3rem;
                    margin-top: 0.2rem;
                }
                p:nth-of-type(2){
                    width: 5.1rem;
                    float: left;
                    font-size: 12px;
                    margin-left: 0.3rem;
                }
                .bianji{
                    width: 5.35rem;
                    height: 0.9rem;
                    float: left;
                    margin-left: 0.3rem;
                    background-image: url('/dushu/home/images/bookpage/bianji.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    p:nth-of-type(1){
                        display: block;
                        width: 4.5rem;
                        font-size: 12px;
                        float: right;
                        margin-right: 0.3rem;
                    }
                    p:nth-of-type(2){
                        display: block;
                        width: 4.5rem;
                        font-size: 12px;
                        float: right;
                        margin-right: 0.3rem;
                    }
                }
                .shijian{
                    width: 1.3rem;
                    float: left;
                    margin-left: 1.2rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.4rem;
                        height: 0.4rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/riqi.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
                .yan{
                    width: 1.5rem;
                    float: left;
                    margin-left: 0rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.42rem;
                        height: 0.42rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/yan.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
            }
            .shuqs{
                width: 100%;
                height: 2.24rem;
                margin-top: -1px;
                border-bottom: 2px solid #28DD8B;
                border-top: 2px solid #28DD8B;
                .xs{
                    display: none;
                }
                .shq-s{
                    width: 6.4rem;
                    height: 2.24rem;
                    float: left;
                    background-image: url('../../images/bookpage/bj-bj.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .sc{
                    width: 0.7rem;
                    height: 100%;
                    float: right;
                    margin-right: 0.1rem;
                    span{
                        display: block;
                        width: 0.4rem;
                        height: 0.4rem;
                        border: 1px solid #28DD8B;
                        color: #28DD8B;
                        font-size: 16px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 0.3rem;
                        margin-top: 0.9rem;
                    }
                }
                p:nth-of-type(1){
                    width: 5.1rem;
                    float: left;
                    font-size: 14px;
                    margin-left: 1.2rem;
                    margin-top: 0.2rem;
                }
                p:nth-of-type(2){
                    width: 5.1rem;
                    float: left;
                    font-size: 12px;
                    margin-left: 1.2rem;
                }
                .bianji{
                    width: 5.35rem;
                    height: 0.9rem;
                    float: left;
                    margin-left: 1rem;
                    background-image: url('/dushu/home/images/bookpage/bianjis.png');
                }
                .shijian{
                    width: 1.3rem;
                    float: left;
                    margin-left: 1.1rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.4rem;
                        height: 0.4rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/riqis.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
                .yan{
                    width: 1.5rem;
                    float: left;
                    margin-left: 0rem;
                    margin-top: 0.08rem;
                    div{
                        width: 0.42rem;
                        height: 0.42rem;
                        float: left;
                        background-image: url('/dushu/home/images/bookpage/yans.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    span{
                        font-size: 12px;
                        float: left;
                        line-height: 0.45rem;
                        margin-left: 0.1rem;
                    }
                }
            }
        }
        
    } 
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479450372436'); /* IE9*/
  src: url('iconfont.eot?t=1479450372436#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479450372436') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479450372436') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479450372436#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e604"; }

.icon-icon:before { content: "\e603"; }

.icon-60:before { content: "\e647"; }

.icon-duihao:before { content: "\e601"; }

.icon-bofangqibofang:before { content: "\e610"; }

.icon-bofangqizanting:before { content: "\e617"; }

.icon-bofangqibofang1:before { content: "\e602"; }

.icon-yinliang:before { content: "\e629"; }

.icon-p-menus:before { content: "\e670"; }

.icon-xiaoyuhao:before { content: "\e6e4"; }

.icon-iconfontdaohanggonggao:before { content: "\e62e"; }

.icon-xiazai:before { content: "\e62f"; }

.icon-hanbaobao:before { content: "\e648"; }

.icon-zhongguoliantong:before { content: "\e600"; }

.icon-cha:before { content: "\e67d"; }

.icon-shangyiqu101:before { content: "\e6e1"; }

.icon-suijibofang01:before { content: "\e6e2"; }

.icon-xiayiqu101:before { content: "\e718"; }

.icon-biaoqian:before { content: "\e6f8"; }

.icon-mulu:before { content: "\e712"; }

.icon-yueliang:before { content: "\e642"; }

.icon-canoe_slalom:before { content: "\e77c"; }
.biaoqian{
    position: absolute;
    top:0.35rem;
    right:1rem;
    color:white;
    font-size:0.28rem;
}
#main{
    width: 100%;
    height:11.96rem;
    background: #ffe9b0;
}
#end{
    width: 100%;
    height:2.25rem;
    background:#151c2b;
    position: absolute;
    bottom:0;
    left: 0;
    .syz,.xyz{
        width: 1rem;
        height: 0.5rem;
        position: absolute;
        top:0.3rem;
        line-height: .5rem;
        text-align: center;
        font-size:.28rem;
        color:#c6c6c6;
      
    }
    .syz{
        left: .3rem;
    }.xyz{
        right: .3rem;
    }
    .jindu{
        width:4.67rem;
        height:.12rem;
        background:#d5d5d5;
        border-radius: 10rem;
        position: absolute;
        top:0.46rem;
        left:1.42rem;
        .yuan{
            width: .24rem;
            height: .24rem;
            background:url("/dushu/home/img/w-39/yuna.jpg") 0 0 no-repeat;
            position: absolute;
            left: .5rem;
            top:0;
        }
    }
    .circles1,.circles2,.circles3{
        width: 0.57rem;
        height: 0.57rem;
        background: #29a6dc;
       
        border-radius:50%;
        position: absolute;
        bottom:0.54rem;
        .icons{
            line-height: 0.57rem;
            text-align: center;
            font-size:0.4rem;
            color:#fff;
        }
    }
    .circles1{
        left:1.18rem;
    }.circles2{
        left:3.45rem;
    }
    .circles3{
        right:1.18rem;
    }
}
