<!doctype html>
<html lang="en" ng-app="reader">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,use-scalable=no,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="css3">
    <title>阅读</title>
    <link rel="stylesheet" href="/book/home2/css/app.css">
    <link rel="stylesheet" href="/book/home2/pages/login/login.css">
    <link rel="stylesheet" href="/book/home2/pages/login/register.css">
    <link rel="stylesheet" href="/book/home2/pages/login/forget.css">
    <link rel="stylesheet" href="/book/home2/pages/login/next.css">
    <link rel="stylesheet" href="/book/home2/pages/shujia/book.css">
    <link rel="stylesheet" href="/book/home2/pages/bookCity/bookcity.css">
    <link rel="stylesheet" href="/book/home2/pages/page/remark.css">
    <link rel="stylesheet" href="/book/home2/pages/page/remarks.css">
    <link rel="stylesheet" href="/book/home2/pages/page/issue.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/Myinfo.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/information.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/bind.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/password.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/version.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/advice.css">
    <link rel="stylesheet" href="/book/home2/pages/wode/news.css">
    <link rel="stylesheet" href="/book/home2/pages/shujia/search.css">
    <link rel="stylesheet" href="/book/home2/pages/shujia/choose.css">
    <link rel="stylesheet" href="/book/home2/pages/shujia/bangdan.css">
    <link rel="stylesheet" href="/book/home2/pages/read/read.css">
    <link rel="stylesheet" href="/book/home2/pages/read/setting-43.css">
    <link rel="stylesheet" href="/book/home2/pages/read/header.css">
    <link rel="stylesheet" href="/book/home2/pages/read/catalog.css">
    <script src="/book/home2/js/angular.js"></script>
    <script src="/book/home2/js/angular-route.js"></script>
    <script src="/book/home2/js/jquery.js"></script>
    <script src="/book/home2/js/jquery.base64.js"></script>
    <script src="/book/home2/js/jquery.jsonp.js"></script>
</head>
<body ng-controller="main">
	<ng-view></ng-view>
</body>
</html>
<script src="/book/home2/app.js"></script>
<script src="/book/home2/config.js"></script>
<script src="/book/home2/API/api.js"></script>
<script src="/book/home2/pages/login/login.js"></script>
<script src="/book/home2/pages/login/forget.js"></script>
<script src="/book/home2/pages/login/next.js"></script>
<script src="/book/home2/pages/login/register.js"></script>
<script src="/book/home2/pages/shujia/book.js"></script>
<script src="/book/home2/pages/shujia/choose.js"></script>
<script src="/book/home2/pages/shujia/native.js"></script>
<script src="/book/home2/pages/shujia/search.js"></script>
<script src="/book/home2/pages/page/remark.js"></script>
<script src="/book/home2/pages/shujia/bangdan.js"></script>
<script src="/book/home2/pages/shujia/fenlei.js"></script>
<script src="/book/home2/pages/shujia/like.js"></script>
<script src="/book/home2/pages/bookCity/bookcity.js"></script>
<script src="/book/home2/pages/wode/Myinfo.js"></script>
<script src="/book/home2/pages/wode/set.js"></script>
<script src="/book/home2/pages/wode/favor.js"></script>
<script src="/book/home2/pages/wode/news.js"></script>
<script src="/book/home2/pages/wode/advice.js"></script>
<script src="/book/home2/pages/wode/version.js"></script>
<script src="/book/home2/pages/wode/information.js"></script>
<script src="/book/home2/pages/wode/bind.js"></script>
<script src="/book/home2/pages/wode/password.js"></script>
<script src="/book/home2/pages/page/remarks.js"></script>
<script src="/book/home2/pages/page/notes.js"></script>
<script src="/book/home2/pages/page/schedual.js"></script>
<script src="/book/home2/pages/page/issue.js"></script>
<script src="/book/home2/pages/read/read.js"></script>
<script src="/book/home2/pages/read/catalog.js"></script>
<script src="/book/home2/pages/read/shuqian.js"></script>
<script src="/book/home2/pages/read/biji.js"></script>
<script src="/book/home2/pages/read/write.js"></script>
<script src="/book/home2/components/lunbo/lunbo.js"></script>
<script src="/book/home2/components/booktab/booktab.js"></script>
